<!DOCTYPE html>
<html lang="en">

<head>
    <title>ComputerVision demonstrator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>


<body>
    <!-- navbar functionality is in the header -->
      <header>
        <nav class="navbar">
            <a href="#" class="nav-branding">ROBOTRON.</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{{ url_for('upload_wheelding') }}" class="nav-link">Wheelding</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('upload_moncherie') }}" class="nav-link">Moncherie</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('cups_page') }}" class="nav-link">Cups</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('get_url_for_caption') }}" class="nav-link">Captions</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('speech_protocol') }}" class="nav-link">Protocol</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('auth.logout')}}" class="nav-link">Logout</a>
                </li>
            </ul>

            <!-- this is just style items for the navbar display -->
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>


        <!-- logic for the navbar, on click the icon toggles between cross and hamburger icon -->
        <script>

            const hamburger = document.querySelector(".hamburger");
            const navMenu = document.querySelector(".nav-menu");
            
            hamburger.addEventListener("click", () => {
                hamburger.classList.toggle("active");
                navMenu.classList.toggle("active");
            })
            
            document.querySelector("nav-link").forEach( n =>
                n.addEventListener("click", () => {
                hamburger.classList.remove("active");
                navMenu.classList.remove("active");
            }))

            console.log("Script has been called");

        </script>

    </header>


    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">

            {% block content %}
            <!-- the child elements go here -->
            {% endblock %}
            
            </div>
        </div>
    </section>
</body>
</html>

