{% extends 'base.html' %}
{% block content %}
<body>
    <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1>Select an image</h1>

            {% if processing_action == "/process_moncherie" %}
                <form method="POST" action={{processing_action}} enctype="multipart/form-data">
                    <select name="" id="">
                        <option value="moncherie_color">Model RGB</option>
                        <option value="moncherie_sw">Model Schwarz-Weiß</option>
                      </select>
                    <input type="file" name="image">
                    <input type="submit" value="Upload">
                </form>
            {% else %}
                <form method="POST" action={{processing_action}} enctype="multipart/form-data">
                    <input type="file" name="image">
                    <input type="submit" value="Upload">
                </form>
            {% endif %}
            <element class=”grid grid-cols-number”> 
            </div>
                </div>
            </element>
        </div>
    </main>    
</body>
</html>
{% endblock %}